<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>


<div class="container">
    <div class="row my-5">
        <div class="col-lg-5 mx-auto">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-block btn-success mt-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

</body>
</html>